TEST_AZURE_OPENAI_API_KEY=
TEST_AZURE_OPENAI_API_VERSION=2024-08-01-preview
TEST_AZURE_OPENAI_ENDPOINT=
JIRA_INSTANCE=
JIRA_USERNAME=
JIRA_API_TOKEN=
TEST_PROJECT_KEY=
TEST_PROJECT_LEAD_EMAIL=
TEST_PROJECT_NAME=

