export AZURE_OPENAI_API_KEY=
export AZURE_OPENAI_API_VERSION=2024-08-01-preview
export AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o
export AZURE_OPENAI_ENDPOINT=
export AZURE_OPENAI_TEMPERATURE=0.7
export LLM_PROVIDER=azure

export JIRA_BASIC_AUTH_TOKEN=
export JIRA_INSTANCE=
export TEST_PROJECT_KEY=
export TEST_PROJECT_LEAD_EMAIL=
export TEST_PROJECT_NAME=
